html, body, #app {
	margin: 0;
	padding: 0;
  height: 100%;
	background-color: #22272E;
}
#app {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vue-mzc-counter__input,
.vue-mzc-counter__button {
	color: #C5D4E3;
}
.vue-mzc-counter__input {
  background-color: #22272E;
  border: 1px solid #373E46;
}
.vue-mzc-counter__button:disabled {
	color: #373E46;
}